<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>warklet, share via bookmarklet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Warklet</a>
          <ul class="nav pull-right">
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="flash" class="alert alert-error"></div>
      <h1 id="title"></h1>
      <div id="content">
      </div>
    </div>
  </body>
</html>
